<section class="our-story">

  <div class="container">

    <div class="row">
      <div class="our-story-photo text-center img-responsive"></div>
      <div class="col-md-offset-2 col-md-8 text-center">
        <p>This photo is incredibly special to me.  It represents a very sweet time in our life and, it was a defining moment for us. It was this week away on vacation that we decided to bring qushneez to life and it all started with a pair of pants that I made for our son Hugh, which he is wearing in this photo.<p>
        <h1 class="hero-title">Here is our story.</h1>
        <hr>
        <p>We are blessed to be living and raising our children in Northern California.  We live close to the beach, the mountains for skiing, and are surrounded by beautiful trails where we love to hike and bike.  I’d say we are a pretty active family. We love to spend time outdoors and from the earliest of ages we encouraged our little boy to be active with us.  One of our favorite activities was hiking. While our outings were always fun, filled with lots of adventure, inevitably, our little boy would trip and fall, skin his knees, he would start crying and then want to head back home.  Adventure over! Same thing when we’d be playing and running around at the park.  Trip-fall-tears-repeat.</p>
        <p>I wondered, how do I end this cycle? How do I help empower him to explore, play and be active, as all little kids love to do, without him getting banged up knees or me hovering over him constantly saying “be careful!”?  So, I started searching for a pair of everyday pants that had some kind of protection in the knee area (a cushion sewn into the knee).  I couldn’t find anything anywhere.  Slip on knee-pads were available but impractical and didn’t take into account my need to simplify my life or our boys’ active lifestyle.  He was constantly moving from inside to outside, and changing activities spontaneously, from climbing around on the playground to running around in an indoor mall, to back outside crawling around outside on hard surfaces exploring.</p> 
        <p>So, I decided to make something myself that would work for both him and me.  I wanted to make something effortless that would make my life a little easier, something that I could put on him in the morning and go about our busy day and when we were done, throw right into the wash.  I decided to use his favorite pair of jeans and figured out how to sew a fun piece of bright orange foam into the knee area of the pant.  They turned out great.  Not only were they cute, they worked!  Now, when he would fall down on his knees, no more tears, scrapes or bruises and…no more interruptions to his play.  They soon became the only pants he wanted to wear.  That was really the end of the story until people everywhere started commenting on how awesome his jeans were and asked where I bought them.  That’s when I decided to create qushneez, a line of fashionable activewear for babies and kids - everyday legwear that has a colorful and fun shaped cushion sewn into the knee area of the garment.  We created qushneez to encourage kids to explore, play and be active, and, to empower parents to let them do it!</p>
      </div>
    </div>
  </div>
</section>