<section class="shop-hero">

  <div class="contaniner-fluid shop">
    <div class="shop-main">
      <div class="hero-title-shop text-center">
        <h1><span class="cranberry-title">qush</span><span class="orange-title">neez</span> <small class="blue-small">crawling your way soon</small></h1>
        <div class="col-md-12">
          <div class="navbar-form">
            Coming this fall. <%= render "/email_sign_ups/remote_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>