.shop-hero {
  background-color: rgb(176, 3, 87);
}

.shop-main {
  background-color: rgba(0, 0, 0, .7);
  height: 100vh;
}

.shop {
  background-image: image_url("kid_1.jpeg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 920px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
}

.hero-title-shop {
  color: #FFFFFF;
  z-index: 10;
  padding-top: 20rem;
}

.cranberry-title {
  color: $cranberry-neez;
}

.orange-title {
  color: $orange;
}

.blue-small {
  color: #FFFFFF;
  font-family: "Indie Flower", cursive;
}